<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyCosLess1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>811DBB841EF12FC1009CF461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>811DBB981EF12FC2009CF461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>811DBBA31EF12FC2009CF461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
